﻿html {height:100%;}
body {padding-top: 50px;padding-bottom: 20px;height:100%;}
.body-content {padding-left: 5px;padding-right: 5px;}
.container.body-content {height: calc(100% - 15px);}
.container, footer, .navbar-fixed-top{/*width: 1170px;min-width: 1024px;*/margin:0 auto;}
.container{padding:0;padding: 0;}
input,select,textarea {max-width: 280px;}
.nav > li > a:hover, .nav > li > a:focus{background:none;}

.navbar{background:#BF1010;}
.navbar-brand{color:#fff;padding: 15px 0;margin: 0;font-size: 1.3em;}
.navbar-fixed-top{padding: 0 15px;}
.navbar-right{/*margin-right: 15px;*/}
.navbar-nav{ margin-top: 5px;}
.navbar-nav > li:first-child{padding-left: 15px;border-left:1px solid #fff;}
.navbar-nav > li{color: #fff;float: left;font-size: 1.1em;margin-right: 5px;padding: 8px 5px;}
.navbar-nav > li > a{position:initial;display:initial;padding:0;color:#fff;}
footer{background: #C0C0C0;font-size: large;}
footer .container{padding: 5px 10px;}
.gone{display:none;}
.clearfix{clear:both;}
#back{margin-right: 10px;float: left;font-size: 1.7em;border: 1px solid;border-radius: 50%;padding: 7px;cursor: pointer;}

.flyover {
  margin-top:-1000px;
   overflow: hidden;
   position: fixed;
   width: 25%;
   opacity: 10;
   z-index: 10;
   transition: all 1s ease;
}
 
.flyover.in {margin-top: 240px;margin-left: 15px;}
#alert{display:none;margin: 0 auto;border-radius: 0;} 
#spinner{margin-right: 5px;height: 24px;display: inline-block;margin-top: -4px;}
