﻿.container.body-content {text-align:center;}
#dashboard-container{}
#dashboard-container h2.header-title{font-weight: 600;margin-bottom: 50px;text-align: left;padding-left: 30px;font-size: 3em;}
#dashboard-container ul{list-style: none;margin: 0 auto !important;padding: 0;position: relative;display: inline-block;}
#dashboard-container ul li{width: 150px;float: left;height: 150px;margin-right: 30px;border-radius: 5px;text-align: left;cursor: pointer;}
#dashboard-container ul li a{display: block;font-size: 1.2em;color: #000;width: 100%;text-align: center;text-decoration:none;}

#dashboard-container > ul > li .glyphicon{    padding-left: 10px;padding-bottom: 50px;font-size: 4em;padding-top: 10px;}

#dashboard-container > ul > li:first-child{background: #FF8351;margin-left: 30px;}
#dashboard-container > ul > li:nth-child(2){background:#FFC957;}
#dashboard-container > ul > li:nth-child(3){background:#FF8A84;}
#dashboard-container > ul > li:nth-child(4){background:#AEDD94;}
#dashboard-container > ul > li:nth-child(5){background:#00C8F8;}
