﻿#report-picker-container{}
#report-picker-container .row{margin-top: 50px;margin-left: 55px;}
#report-picker-container .x-left,#report-picker-container .x-right, #report-picker-container .x-mid{float:left; margin-right:20px;width: 250px;}
#report-picker-container .x-left{}
#report-picker-container .x-right{}
#report-picker-container .x-right button{margin-top: 20px;}
#report-picker-container .dte-label{}
#report-picker-container .dte-pos{}
#report-picker-container #dte-from, #report-picker-container #dte-to{z-index:9;}
#report-picker-container .input-group .glyphicon{cursor:pointer;}