﻿.container.body-content {t/*ext-align:center;*/}
#reports-container{/*padding-left:55px;*/}
h2.header-title{font-weight: 600;text-align: left;padding-left: 30px;font-size: 3em;}
#reports-container ul{margin-left: 25px;list-style: none;padding: 0;position: relative;display: inline-block;}
#reports-container ul li{width: 150px;float: left;height: 150px;margin-right: 30px;border-radius: 5px;text-align: left;cursor: pointer;}
#reports-container ul li a{display: block;font-size: 1.2em;color: #000;width: 100%;text-align: center;text-decoration:none;}

#reports-container > ul > li .glyphicon{    padding-left: 10px;padding-bottom: 50px;font-size: 4em;padding-top: 10px;}

#reports-container > ul > li:first-child{background: #00C8F8;margin-left: 30px;}
#reports-container > ul > li:nth-child(2){background:#FF8351}

#report-details-container{}
#report-details-container #reports-detail{width: 800px;margin: 10px auto;}
#report-details-container #reports-detail > thead > tr > th{}
#report-details-container #reports-detail > tbody > tr > td{}
#report-details-container #reports-detail > thead > tr > th span{cursor: pointer;}


