﻿#setup-container h2.header-title{margin-bottom: 15px;font-weight: 600;text-align: left;font-size: 3em;}
#setup-container #top-holder div{float:left;}
#back, .header-title, #btnsave{margin-top: 20px;float: left;margin-right: 15px;}
#form-holder{padding-left: 55px;}

#setup-container table{width: 100%;}
#setup-container table > tbody > tr > td{padding: 5px 0;}
#setup-container table > tbody > tr td.cell-label{font-weight: 600;}
#setup-container table > tr > td.cell-value{}
#setup-container table > tbody > tr > td input[type="text"]{}
#btnsave{margin-left: 35px;width: 100px;margin-top: 25px;}
#setup-container table tr:last-child td{}