﻿.container.body-content {text-align:center;}
#email-tpl-container{}
.row{padding-left: 55px;}
#email-tpl-container h2.header-title, #text-tpl-container h2.header-title{margin-bottom: 15px;font-weight: 600;text-align: left;padding-left: 30px;font-size: 3em;}
#btnnew, #btnsave{width: 170px;}
#btnedit, #btncopy{width: 65px;margin-right: 20px;}
#templates, #new-template{margin-bottom: 25px;}
.x-left{text-align:left;}
