﻿#text-send-container{padding-top: 20px;}
#btns-right{margin-right: 20px;float: right;}
#btns-right button{width:100px; margin-right:10px;}
h2.header-title{font-weight: 600;margin-bottom: 10px;text-align: left;padding-left: 30px;font-size: 3em;margin-top: 0;float: left;}
.row .col-md-5 select{}
#reservation-nos{max-width: 455px !important;}
#text-form:before, .row:after{
    content: "";
    height: 1px;
    background: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(221,221,221,1) 75%,rgba(0,0,0,0) 100%);
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
}
#subject{max-width:none;}
.x-single{padding: 3px 45px;}

#text-template-container{padding-top: 20px;}
#text-template-container #reservation-welcome{display: inline-block !important;margin-right: 10px;}
#text-template-container #btns-right{/*width: 525px;*/margin-top: 5px;}
#text-template-container h2.header-title{padding: 0;}
#text-template-container table{border-top: 1px solid #ddd;}
#text-template-container table td{border:none;vertical-align: middle;}
#text-template-container table td:last-child{min-width:130px;}
#text-template-container > form > table > tbody > tr:nth-child(3) td, 
    #text-template-container > form > table > tbody > tr:nth-child(4) td{border-bottom:1px solid #ddd;}
#text-template-container #content{width: 100%;height:225px;max-width:none;}
#text-template-container > form > table > tbody > tr:nth-child(5) td strong{margin-bottom: 3px;display: block;}
#text-template-container .bookmarks span{cursor:pointer;text-decoration:underline;display:inline-block; margin-right:1px;}

