﻿<ul class="nav navbar-nav navbar-right">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/email/templates">Email Templates</a></li>
    <li><a href="/text/templates">Text Templates</a></li>
    <li><a href="/email/send">Email/Text Now</a></li>
    <li><a href="/setup">Setup</a></li>
    <li><a href="/reports">Reports</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>