﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/email.css")
<div id="email-template-container">
    <form class="form-inline" id="frmsave">
        <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Email Templates</h2>
        <div id="btns-right">
            <input type="text" id="name" class="form-control" value="" />
            <button id="save" class="btn btn-success">SAVE</button>
            <button id="btncancel" class="btn btn-warning">CANCEL</button>
        </div>
        <br class="clearfix" />
        <table class="table">
            <tr>
                <td></td>
                <td>Days</td>
                <td>Choose When</td>
                <td>Choose Event</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Send</td>
                <td><select id="days"class="form-control"><option>Loading...</option></select></td>
                <td><select id="refwhen" class="form-control"><option>Loading...</option></select></td>
                <td><select id="refevent" class="form-control"></select></td>
                <td>and apply to Reservation type</td>
                <td><select id="restype" class="form-control"></select> and...</td>
            </tr>
            <tr>
                <td>and Reservation Group</td>
                <td><select id="resgroups" class="form-control"><option>Loading...</option></select></td>
                <td>and Booking Agent</td>
                <td><select id="resagent" class="form-control"><option>Loading...</option></select></td>
                <td>and Balance Due</td>
                <td>
                    <select id="resbalance" class="form-control">
                        <option value="1">Either</option>
                        <option value="2">Yes</option>
                        <option value="3">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">From: override system address</td>
                <td colspan="2"><input type="text" id="from" class="form-control" /></td>
                <td colspan="2"><input type="checkbox" id="usebcc" /> BCC@*(Leave blank to use booking agent email)*@</td>
                @*<td><br/><input type="checkbox" id="bccagent" /> BCC Agent</td>*@
            </tr>
            <tr>
                <td colspan="6">
                    <strong>Subject:</strong><input type="text" id="subject" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <textarea id="content" class="form-control"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/Scripts/pages/email-template-edit.js")
}