﻿@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/email.css")
<div id="email-send-container">
    <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Email Now</h2>
    <div id="btns-right">
        <button id="send-email" class="btn btn-success">SEND</button>
        <button id="btncancel" class="btn btn-warning">CANCEL</button>
    </div>
    <br class="clearfix" />
    <form class="form-horizontal" id="email-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sendto" class="col-sm-3 control-label">Send To:</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="sendto"><option>Loading...</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="template" class="col-sm-3 control-label">Template:</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="template"><option>Loading...</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bcc" class="col-sm-3 control-label">BCC To:</label>
                    <div class="col-sm-9">
                        <input type="email" id="bcc" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="from" class="col-sm-3 control-label">From Email:</label>
                    <div class="col-sm-9">
                        <input type="email" id="from" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="toggle-res">
                    <label for="reservation-nos">Enter Reservation numbers here, separated by commas</label>
                    <input type="text" id="reservation-nos" class="form-control" required/>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="sendbyemail" checked>
                            Send By Email
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" id="sendbytext">
                            Send By Text
                        </label>
                    </div>
                </div>
                @*<div class="form-group" id="toggle-mobile">
                    <label for="from" class="col-sm-3 control-label">From Mobile:</label>
                    <div class="col-sm-9">
                        <input type="text" id="from-text" class="form-control" required />
                    </div>
                </div>*@

             </div>

        </div>
        <div class="form-group x-single">
            <label for="subject">Subject</label>
            <input type="text" id="subject" class="form-control" required />
        </div>
        <div class="form-group x-single">
            <textarea id="content" class="form-control" ></textarea>
        </div>
</form>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/Scripts/pages/email.js")
}
