﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/dashboard.css")

<div id="dashboard-container">
    <h2 class="header-title">Dashboard</h2>
    <ul>
        <li><span class="glyphicon glyphicon-envelope"></span><a href="/email/templates">Email Templates</a></li>
        <li><span class="glyphicon glyphicon-comment"></span><a href="/text/templates">Text Templates</a></li>
        <li><span class="glyphicon glyphicon-envelope"></span><a href="/email/send">Email Now</a></li>
        <li><span class="glyphicon glyphicon-cog"></span><a href="/setup">Setup</a></li>
        <li><span class="glyphicon glyphicon-duplicate"></span><a href="/reports">Reports</a></li>
    </ul>
    <br class="clearfix"/>
</div>

