﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/setup.css")
<div id="setup-container">
    <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Setup</h2>
    <button class="btn btn-success" id="btnsave">Save</button>
    <input type="hidden" id="setup_id" />
    <div id="form-holder">
        <table>
            <tr>
                <td class="cell-label">SMTP Server:</td>
                <td class="cell-value"><input type="text" class="form-control" id="smtp-server" /></td>
                <td class="cell-label">Port:</td>
                <td class="cell-value"><input type="text" class="form-control" id="smtp-port" /></td>
            </tr>
            <tr>
                <td class="cell-label">SMTP Email</td>
                <td class="cell-value"><input type="text" class="form-control" id="smtp-email" /></td>
                <td class="cell-label">Password:</td>
                <td class="cell-value"><input type="text" class="form-control" id="smtp-password" /></td>
            </tr>
            <tr>
                <td class="cell-value" colspan="4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked> Use SSL
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="cell-label">Default Email Address</td>
                <td class="cell-value"><input type="text" class="form-control" id="default-email" /></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="cell-label">Default Text Number:</td>
                <td class="cell-value"><input type="text" class="form-control" id="default-text" /></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/Scripts/pages/setup.js")
}