﻿@model AGN.Models.LoginModel
<style>
    h2 {text-align: left;font-size: 2.5em;}
    h2:after{content: "";height: 1px;background: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(221,221,221,1) 75%,rgba(0,0,0,0) 100%);
        display: block;margin-bottom: 0;margin-top: 10px;}
    .container.body-content{width: 500px;}
    section#loginForm{padding-left:50px;}
    .form-horizontal .control-label {text-align:left;}
    #loginForm input[type=submit]{font-size:1.3em;}
    #login-container{ position: relative;top: 35%; -moz-transform: translateY(-35%);
        -ms-transform: translateY(-35%);
        -o-transform: translateY(-35%);
        -webkit-transform: translateY(-35%);
        transform: translateY(-35%);
}
</style>
<div id="login-container">
    <h2>Login</h2>
    <div class="row">
        <div class="col-md-12">

            <section id="loginForm">
                @*@using (Html.BeginForm("Login", "Auth", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Email">Email</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Password">Password</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-success" />
                        </div>
                    </div>
                }*@
                <form action="/Auth/LogIn" method="post" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Email">Email</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="Password">Password</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    @*<div class="editor-label"><label for="ReturnUrl">ReturnUrl</label></div>*@
                    <div class="editor-field"><input id="ReturnUrl" name="ReturnUrl" type="hidden" value="" /> <span class="field-validation-valid" data-valmsg-for="ReturnUrl" data-valmsg-replace="true"></span></div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-success" />
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/pages/login.js")
}


