﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/text.css")
<div id="text-template-container">
    <form class="form-inline" id="frmsave">
        <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Text Templates</h2>
        <div id="btns-right">
            <input type="text" id="name" class="form-control" value="" />
            <button id="save" class="btn btn-success">SAVE</button>
            <button id="btncancel" class="btn btn-warning">CANCEL</button>
        </div>
        <br class="clearfix" />
        <table class="table">
            <tr>
                <td></td>
                <td>Days</td>
                <td>Choose When</td>
                <td>Choose Event</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Send</td>
                <td><select id="days"class="form-control"><option>Loading...</option></select></td>
                <td><select id="refwhen" class="form-control"><option>Loading...</option></select></td>
                <td colspan="2"><select id="refevent" class="form-control"><option>Loading...</option></select></td>
                @*<td>and apply to Reservation type</td>
                <td><select id="restype" class="form-control"></select> and...</td>*@
            </tr>
            <tr>
                <td>and Reservation Group</td>
                <td><select id="resgroups" class="form-control"><option>Loading...</option></select></td>
                <td>and Booking Agent</td>
                <td><select id="resagent" class="form-control"><option>Loading...</option></select></td>
                <td>and Balance Due</td>
                <td>
                    <select id="resbalance" class="form-control">
                        <option value="1">Either</option>
                        <option value="2">Yes</option>
                        <option value="3">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">Use Cell number to override Agent:</td>
                <td><input type="text" id="from" class="form-control" /></td>
                <td colspan="2">(Leave blank to use booking agent email)</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="6" class="bookmarks">
                    Bookmarks:<br/>
                    <span>[Guest First Name]</span> <span>[Guest Last Name]</span> <span>[Reservation #]</span> <span>[Unit Number]</span> 
                    <span>[Unit Name]</span> <span>[Unit Address]</span> <span>[Lock Code]</span> <span>[etc...]</span> 
                    <span>[Arrival Date]</span> <span>[Departure Date]</span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <textarea id="content" class="form-control"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/pages/text-template-edit.js")
}