﻿@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/templates.css")
<div id="text-tpl-container">
    <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Text Templates</h2>
    <div class="row">
        <div class="col-md-4 x-left">
            <select id="templates" class="form-control"><option>Loading...</option></select>
            <button id="btnnew" class="btn btn-success">Add New Template</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" id="btnedit">Edit</button>
            <button class="btn btn-warning" id="btncopy">Copy</button>
        </div>
        <div class="col-md-4 x-left">
            <input type="text" class="form-control" id="new-template"/>
            <button id="btnsave" class="btn btn-success">Save Copied Template</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/pages/templates.js")
}