﻿@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/reports.css")
<div id="report-details-container">
    <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Reports - @ViewBag.Section Sent</h2>
    <table id="reports-detail" class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Date Sent <span id="sort-date" class="glyphicon glyphicon-triangle-bottom sorter"></span></th>
                <th>Email Type <span id="sort-type" class="glyphicon glyphicon-triangle-bottom sorter"></span></th>
                <th>Email Address <span id="sort-email" class="glyphicon glyphicon-triangle-bottom sorter"></span></th>
            </tr>
        </thead>
        <tbody id="report-body">
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/pages/reports.js")
}