﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/reports.css")

<div id="reports-container">
    <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Reports</h2>
    <ul>
        <li><span class="glyphicon glyphicon-duplicate"></span><a href="/reports/email">Email Sent</a></li>
        <li><span class="glyphicon glyphicon-duplicate"></span><a href="/reports/text">Text Sent</a></li>
    </ul>
    <br class="clearfix"/>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/pages/reports.js")
}
