﻿@{
    ViewBag.Title = "RangePicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/pages/rangepicker.css")
<div id="report-picker-container">
    <span class="glyphicon glyphicon-arrow-left" id="back"></span><h2 class="header-title">Reports - @ViewBag.Section Sent</h2>
    <div class="row">
        <div class="x-left">
            <div class="dte-label">From:</div>
            <div class="input-group">
                <input type="text" class="form-control" id="dte-from" readonly>
                <div class="input-group-addon"><span data-target-id="dte-from" class="glyphicon glyphicon-calendar"></span></div>
            </div>
        </div>
        <div class="x-mid">
            <div class="dte-label">To:</div>
            <div class="input-group">
                <input type="text" class="form-control" id="dte-to" readonly>
                <div class="input-group-addon"><span data-target-id="dte-to" class="glyphicon glyphicon-calendar"></span></div>
            </div>
        </div>
        <div class="x-right">
            <button class="btn btn-success" data-section="@ViewBag.Section" id="btnreport">Run Report</button>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/pages/rangepicker.js")
}
